<h1> this is every sentence I wrote in college. </h1>
<%= link_to "sentence", "#sentence", :id =>"the-button" %>&nbsp;&nbsp;&nbsp;
<%= link_to "expand", "#context", :id =>"the-context" %>
<br />
<br />
<p id="sentenceview"><span></span></p>
<% 	n = @sentences.count %>
<%   	if n >= 50 %>
<%   		array = @sentences.shuffle[0..50] %>
<%   	else %>
<%   		array = @sentences.shuffle[0..(n-1)] %>
<% 		end %>
<% index = 0 %> 
<% grouping = 0 %>
<% array.each do  |sentence| %>
	<% sentenceminus = @sentences[(sentence.sequence-2)] %>
	<% sentenceplus = @sentences[(sentence.sequence)] %>
 <p class="sentence" data-index = "<%= index += 1 %>" data-grouping="<%= grouping +=1 %>" data-sequence="<%= sentence.sequence %>" data-source="<%= sentenceminus.source %>">
 <%= sentenceminus.text %> </p>  
	<p class="sentence" data-index = "<%= index+=1 %>" data-grouping="<%= grouping %>" data-sequence="<%= sentence.sequence %>"  data-source="<%= sentence.source %>">
		<%= sentence.text %> </p> 
<p class="sentence" data-index = "<%= index +=1 %>" data-grouping="<%= grouping %>" data-sequence="<%= sentence.sequence %>" data-source="<%= sentenceplus.source %>"> 
 <%= sentenceplus.text %> </p>  
<% end %> 