<h1> this is every sentence I wrote in college. </h1>
<%= link_to "get one", "#sentence", :id =>"the-button", :class => "button" %>&nbsp;&nbsp;&nbsp;
<%= link_to "expand", "#context", :id =>"the-context", :class => "button" %>
<br />
<br />
<p id="sentenceview"><span></span></p>
<% 	n = @sentences.count %>
<%   	if n >= 50 %>
<%   		array = @sentences.shuffle[0..50] %>
<%   	else %>
<%   		array = @sentences.shuffle[0..(n-1)] %>
<% 		end %>
<% index = 0 %> 
<% grouping = 0 %>
<% if !array.nil? %>
<% array.each do  |sentence| %>
	<% sentenceminus = @sentences[(sentence.sequence-2)] %>
	<% sentenceplus = @sentences[(sentence.sequence)] %>

	<!-- add groupings together, if they exist -->
<% if !sentenceminus.nil? && sentenceminus.source == sentence.source %>
	 <p class="sentence" data-index = "<%= index += 1 %>" data-grouping="<%= grouping +=1 %>" data-sequence="<%= sentenceminus.sequence %>" data-source="<%= sentenceminus.source %>">
 <%= sentenceminus.text %> </p>  
 <% end %>

	<p class="sentence" data-index = "<%= index+=1 %>" data-grouping="<%= grouping %>" data-sequence="<%= sentence.sequence %>"  data-source="<%= sentence.source %>">
		<%= sentence.text %> </p> 

<% if !sentenceplus.nil? && sentenceplus.source == sentence.source %>
<p class="sentence" data-index = "<%= index +=1 %>" data-grouping="<%= grouping %>" data-sequence="<%= sentenceplus.sequence %>" data-source="<%= sentenceplus.source %>"> 
 <%= sentenceplus.text %> </p>  
<% end %> 


<% end %> 
<% end %> 